html, body {
    max-width: 100%;
    overflow-x: hidden;
}

section {
/*    height: 100%;*/
}

/* NAVIGATION CSS*/

.nav li a {
    color: black;
}

.nav li.active {
	border-bottom: 3px solid black;
}

.navbar-brand {
	font: 350 20px 'Helvetica', serif, sans-serif;
	color: #000;
}

.navbar {
	text-transform: uppercase;
    font: 100 12px 'Helvetica', serif, sans-serif;
    background-color: white;
}

.nav li a:hover, 
.nav li a:focus, 
.nav li.active {
	background: none;
    color: red;
}

.icon-bar {
      background-color: black;
    
}

/* END OF NAVIGATION */

/* HOME CSS */

#home {
/*    height: 676.439px;*/
    height: 800px;
    padding-top: 40px;
/*    padding: 40px 0px 676.439px 0px; */
    text-align: center;
}

#home h2 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    color: aliceblue;
}

#home .row {
    position: relative;
    bottom: -200px;
}

#home img {
    position: absolute;
    z-index: -1;
    width: 1920px; 
    height: 745.439px;
    left: 0px; 
    top: 53px;
}

.hello {
	margin: 0 0 100px;
}

#home i {
    color: aliceblue;
    font-size: 42px;
}

#home h4 {
    color: aliceblue;
    font-size: 20px;
}

#home .contact-info {
    margin-top: 300px; 
/*    position:fixed;*/
/*    bottom:0px;*/
/*    margin-top: 180px;*/
}

/* END OF HOME */


/* RESUME CSS */
#resume {
/*    padding: 40px 0px 800px 0px; */
    height: 800px;
/*    padding: 40px;*/
    background-color: white;
}
/* END OF RESUME */

/* PROJECTS CSS */
#projects {
    height: 900px;
/*    padding-top: 10px;*/
/*    padding: 40px 0px 800px 0px;*/
    background-color: #E2DFC5;
}

#projects .project {
    height: 395px; 
}

.project img {
    width: 400px;
    height: 265px;
}

.project-description {
    background-color: antiquewhite;
    width: 400px;
    height: 365px;
}

/* END OF PROJECTS */

/* CONTACT CSS */
#contact {
/*    padding: 40px 0px 800px 0px;    */
    background-color: black;   
}

#contact h2 {
    color: aliceblue;
    text-align: center;
}

#contact i {
    float: left; 
    font-size: 33px;
    padding-right: 10px;
    color: saddlebrown;
}

.form-group input {
    width: 450px;
}

.form-group textarea {
    width: 450px;   
}

#contact .form-group .fa-user {
    font-size: 40px;   
    padding-right: 12px;
}

.form-group button {
    background-color: saddlebrown;
    color: white;
}

.panel-body {
    background-color: black;
}

.panel-heading {
    background-color: black;
}

#contact h4 {
    color: white;   
}

/* END OF CONTACT */
img {
    width: 80px; 
    height: auto;
}

@media (max-width: 768px) {
    .text-align-sm, #contact .row {
        text-align: center;
    }
}

.fa-th {
    font-size: 0.7em; 
}




