/* NAVIGATION CSS*/

.nav li a {
    color: black;
}

.nav li.active {
	border-bottom: 3px solid black;
}

.navbar-brand {
	font: 350 20px 'Helvetica', serif, sans-serif;
/*    font: 322 32 'Helvetica';*/
	color: #000;
}

.navbar {
	text-transform: uppercase;
    font: 100 12px 'Helvetica', serif, sans-serif;
    background-color: white;
}

.nav li a:hover, 
.nav li a:focus, 
.nav li.active {
	background: none;
    color: red;
}

/* END OF NAVIGATION */

/* HOME CSS */

#home {
/*    position: relative;*/
    padding: 40px 0px 800px 0px; 
    background-image: url(../static/images/nyc.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#home h2 {
/*    position: absolute;*/
/*    top: 50%;*/
    color: aliceblue;
}

.hello {
	margin: 0 0 100px;
}

/* END OF HOME */


/* RESUME CSS */
#resume {
    padding: 40px 0px 800px 0px;    
    background-color: lightgray;
}
/* END OF RESUME */

/* PROJECTS CSS */
#projects {
    padding: 40px 0px 800px 0px;
    background-color: lightsteelblue;
}

.project {
    height: 300px;
}

.project img{
    width: 100%;
    height: 100%;
}

/* END OF PROJECTS */

img {
    width: 80px; 
    height: auto;
}

@media (max-width: 768px) {
    .text-align-sm {
        text-align: center;
    }
}
/*

.special { 
    height:100vh; 
    display:table;
    width:100%;
}
.v-m {
    display:table-cell;
    vertical-align:middle
}
*/



